<form 
  action="/delete-home/<%= home._id %>?editing=true" 
  method="POST"
  class="inline-flex"
>
  <button
    type="submit"
    class="inline-flex items-center justify-center w-24 px-4 py-2
           bg-red-500 hover:bg-red-600 text-white font-semibold
           rounded-lg transition"
  >
    Delete
  </button>
</form>
