<a href="/host/edit-home/<%= home._id %>?editing=true" class="inline-flex items-center justify-center w-24 px-4 py-2
         bg-red-500 hover:bg-red-600 text-white font-semibold
         rounded-lg transition" >
  
  Edit
</a>
