<%- include('../partials/head') %>
</head>

<body class="bg-gray-100 min-h-screen">

  <!-- Navbar -->
  <%- include('../partials/nav') %>
  <%- include('../partials/spacer') %>

  <!-- Page Container -->
  <%- include('../partials/homeDetails') %>


</body>
</html>
