<%- include('../partials/head') %>
</head>
<body class="bg-gray-100 min-h-screen">

  <!-- Navbar -->
  <%- include('../partials/nav') %>
  <%- include('../partials/spacer') %>
  <div class="flex justify-center items-center h-20 bg-transparent">
  <h1 class="text-3xl md:text-2xl font-extrabold tracking-tight text-gray-900">
    Welcome to <span class="text-red-500">Host Homes</span>
  </h1>
</div>

  <!-- Main Content -->
  <%- include('../partials/hostHomeCards') %>

  

</body>

</html>